#start_farm
{
  height: 50px;
  width: 50px;
  background-color: blue;
  position:absolute;
  left: 100px;
  top: 250px;
}
#start_farm_stats
{
  height: 100px;
  width: 80px;
  background-color: green;
}
#start_castle
{
  height: 100px;
  width: 80px;
  background-color: grey;
  position: absolute;
  left: 150px;
  top: 250px;
}
#start_castle_stats
{
  height: 100px;
  width: 80px;
  background-color: green;
}
/* Later to be swapped with an icon. */
#construction
{
  height: 80px;
  width: 80px;
  text-align: center;
  background-color: brown;
}
#construct_building
{
  height: 200px;
  width: 80px;
  background-color: grey;
}
#castle_icon
{
  height: 30px;
  width: 30px;
  background-color: green;
}
#new_castle
{
  position: fixed;
  height: 100px;
  width: 80px;
  background-color: grey;
}
